 body{
    font-family: 'Mali', cursive;
    color: rgb(255, 255, 255);
    font-size: 20px; /* ขนาดพื้นที่ของบนเบนเดอร์ */
    text-align: center; 
    
     
   
 }
 .headercs { 
    background-size: unset;
    font-size: 80px;
    height: 100px;      /* ความสูงของเบนเดอร์ world Y */
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("pic/logo/media/examples/lizard.png");
    /*background-image: url("pic/logo.png");              /*ยังแก้ไม่ได้เยยยยยยยยยยย*/
    background-color: rgb(71, 105, 105);   /*พื้นหลังของ world y*/
    text-shadow: 5px 5px rgb(25, 192, 122);  /*เงา*/
    outline-style: double; /*รูปแบบเส้น*/
    outline-width: 20px;   /*เส้นกรอบนอก */  


 }
 

 .content{  
  display: flex;
  justify-content: center;
  align-items: center;
 
 }    

 .content{
     color: rgb(255, 255, 255);
     text-shadow: 1px 1px rgb(56, 34, 37);  /* เงาตัวหนังสือ ของ body*/

     
 }
 
 .content{
   font-family: 'Mali', cursive;
   color: rgb(255, 255, 255);
   font-size: 20px;
   text-align: center;
 }