body{
    font-family: 'Mali', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 197, 238);
   
   
 }
 .headercs {
 
    background-size: unset;
    font-size: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bd5a5a;
    text-shadow: 4px 4px rgb(252, 111, 111);
    outline-style: double;
    outline-width: 4px;
 }
 
 .content{  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecb1d9;
 }

    

 .content{
     color: rgb(255, 255, 255);
     background-color: #4d0000;
     text-shadow: 1px 1px rgb(124, 44, 55);

     
 }
 .content{  
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ecb1d9;